.App{
    overflow-x: hidden;
}

img{
    max-width: 100%;
}

.logo{
    height: 100% !important;
    width: auto;
}

input:focus-visible{
  outline: none;
}

a:hover{
    text-decoration: none;
    border: none;
}

.centering{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-wrapper{
    margin-top: 64px;
    display: flex;
    align-items: start;
    min-height: calc(100vh - 64px);
    width: 100vw;
}

.main{
    margin-left: 240px;
    max-width: calc(100% - 240px);
    width: 100%;
}

/* Mobile Only */
@media (max-width: 739px) {
    .main{
        margin-left: 0 !important;
        max-width: 100% !important;
        width: 100%;
    }
}

.trade-nav{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #76c5f024;
    border-radius: 20px;
    width: auto;

    &-item{
        padding: 8px 12px;
        color: #1677BC;
        font-weight: 900;
        cursor: pointer;
    }

    &-item.active{
        background-color: #1677BC;
        color: #fff;
        border-radius: 20px;
    }
}

.primary-btn{
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 0;
    border-radius: 16px;
    box-shadow: 0px -1px 0px 0px rgba(14,14,44,0.4) inset;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-letter-spacing: 0.03em;
    -moz-letter-spacing: 0.03em;
    -ms-letter-spacing: 0.03em;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0;
    -webkit-transition: background-color 0.2s,opacity 0.2s;
    transition: background-color 0.2s,opacity 0.2s;
    height: 48px;
    padding: 0 24px;
    background-color: #338FE6;
    color: white;
    width: 100%;
}

