.swap{
    min-height: calc(100vh - 64px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &-wrapper{
        background-color: #fff;   
        // padding: 20px;
        border-radius: 20px;

        margin-top: 30px;

        display: flex;
        align-items: center;
        justify-content: center;

        flex-direction: column;

        margin: 40px;

        box-shadow: 0px 2px 12px -8px rgba(25,19,38,0.1), 0px 1px 1px rgba(25,19,38,0.05);
    }

    &-icon{
        margin-bottom: 20px;

        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: #ECF7FD;

        transition: all 0.1s ease-in-out;

        i:nth-child(2){
            display: none;
        }

        i{
            transition: all 0.2s ease-in-out;
        }

        &:hover{
            cursor: pointer;
            background-color: #1677BC;
            color: #fff;

            i:nth-child(1){
                display: none;
            }
            i:nth-child(2){
                display: block;
            }
        }
    }

    &-btn{
        margin-top: 20px;
    }

    &-title{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 30px;

        border-bottom: 2px solid #F6F6F6;

        &-icon{
            color: #1677BC;
        }
    }

    &-content{
        padding: 30px;

        display: flex;
        align-items: center;
        justify-content: center;

        flex-direction: column;
    }

    &-name{
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 10px;
        color: #1677BC;
    }

    &-desc{
        color: #76C5F0;
    }

    &-block{
        background-color: #76c5f024;
        padding: 20px;
        border-radius: 15px;

        width: 100%;
        margin-bottom: 20px;

        color: #1677BC;

        &-text{
            // margin-bottom: 20px;
        }

        &-value{
            
            input{
                border: none;
                flex: 1;
                background-color: transparent;
                font-weight: 700;
                font-size: 18px;
            }
        }

        &-select{

            &-icon{
                width: 24px;
                margin-right: 6px;
            }

            &-name{
                font-weight: 500;
                font-size: 16px;

                i{
                    margin-left: 4px;
                }
            }
        }
    }

}
/* Mobile Only */
@media (max-width: 739px) {
    .swap{
        align-items: flex-start;
        
        &-wrapper{
            margin: 0;
        }

        &-content,
        &-title{
            padding: 20px;
        }

        &-img{
            display: none;
        }
    }

    .trade-nav{
        margin: 20px 0;
    }

    .dNLokW{
        margin-right: 0 !important;
    }
}